* {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 14.6px;
  line-height: 17.33px;
}

h2 {
  font-weight: bold;
  // text-transform: uppercase
}

.keep-together {
  page-break-inside: avoid;
}

.break-before {
  page-break-before: always;
}

.break-after {
  page-break-after: always;
}


